<div class="sidebar-content pd-12">
    <p class="sidebar-heading">    
        Object Palette
    </p>
    <div class="collection">
        <div class="title">
            Shapes
        </div>
        <div class="palette-items">
            <div class="item">
                 <app-create-rect></app-create-rect>           
            </div>
            <div class="item">
                <app-create-circle></app-create-circle>
            </div>
            <div class="item">
                <app-create-triangle></app-create-triangle>
            </div>
        </div>
    </div>
</div>
