.sidebar-content{    
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: solid 1px rgba($color: #000000, $alpha: 0.1);
    box-shadow: 4px 0px 12px rgba($color: #000000, $alpha: 0.1);
    .sidebar-heading{
        font-size: 1.8em;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 12px;
    }

    .collection{
        .title{

        }

        .palette-items{
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            column-gap: 2px;
            align-items: center ;
        }
    }
}