<div class="object-properties">
    <div class="property f-col">
        <label for=""> Stroke Width</label>
        <mat-slider
            [step]="0.01"
            [min]="0"
            [max]="10"
            [(ngModel)]="currentProperty.strokeWidth"
            (change)="onStrokeWidthChange()"
        ></mat-slider>
    </div>
    <div class="property f-row">
        <label for=""> Stroke Color</label>
        <input type="color" 
        [(ngModel)]="currentProperty.strokeColor"
        (change)="onStrokeColorChange()" />
    </div>
    <div class="property f-row">
        <label for=""> Fill Color</label>
        <input type="color" 
        [(ngModel)]="currentProperty.fillColor" 
        (change)="onFillColorChange()" />
    </div>
    <div class="property f-row">
        <label for=""> Angle</label>
        <input type="number" 
        [(ngModel)]="currentProperty.angle" 
        (change)="onAngleChange()" />
    </div>
</div>
